# Purpose: define API_KEY constant
#
# Rationale:
# Separate API key from checked-in code
#
# Usage:
# 1. Copy the template file systran_api_key.rb.tmpl to systran_api_key.rb
# 2. Create a new API key. The format must be a UUID.
# 3. To avoid sharing a valid the API key via git, .gitignore should list systran_api_key.rb
#
# Caveat:
# Remember that a ruby constant must be declared with its name in ALL_CAPS
#
# The example key has been revoked

API_KEY = 'f9d7c6e3-ddae-4dd5-8e96-8f4a7082195f'
